In [1]:
import pandas as pd 
import numpy as np

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234",
  database="ol"
)

In [2]:
mycursor = mydb.cursor()

mycursor.execute("select nome, cognome, nazione from atleta")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('László', 'Cseh', 'Ungheria')
('Richard', 'Thompson', 'Giamaica')
('Walter', 'Dix', 'Stati Uniti')
('Yui', 'Suzuki', 'Giappone')
('Carlos', 'Silva', 'Brasile')
('Emma', 'Watson', 'Regno Unito')
('Li', 'Wei', 'Cina')
('Dimitris', 'Papadopoulos', 'Grecia')
('Mia', 'Johnson', 'Australia')
('Michael', 'Smith', 'Stati Uniti')
('Sofia', 'Garcia', 'Spagna')
('Jin', 'Park', 'Corea del Sud')
('Giulia', 'Rossi', 'Italia')
('Pierre', 'Dubois', 'Francia')
('Lukas', 'Müller', 'Germania')
('Ivan', 'Ivanov', 'Russia')
('Emily', 'Clark', 'Canada')
('Raj', 'Patel', 'India')
('Thabo', 'Mbeki', 'Sudafrica')
('Carlos', 'Lopez', 'Messico')
('Maria', 'Gonzalez', 'Argentina')
('Sophie', 'Taylor', 'Nuova Zelanda')
('Akira', 'Tanaka', 'Giappone')
('Fernanda', 'Lima', 'Brasile')
('Oliver', 'Brown', 'Regno Unito')
('Zhang', 'Wei', 'Cina')
('Anna', 'Papadopoulou', 'Grecia')
('Liam', 'Wilson', 'Australia')
('Jessica', 'Davis', 'Stati Uniti')
('Diego', 'Fernandez', 'Spagna')
('Min', 'Lee', 'Corea del Sud')
('Francesca', 'Bianchi', 'Italia')
('Hiroshi', 'Nakamura', 'Giappone')
('Ana', 'Costa', 'Brasile')
('James', 'Wilson', 'Regno Unito')
('Xiao', 'Li', 'Cina')
('Elena', 'Papadakis', 'Grecia')
('Lucas', 'Brown', 'Australia')
('Sarah', 'Johnson', 'Stati Uniti')
('Juan', 'Martinez', 'Spagna')
('Ji', 'Kim', 'Corea del Sud')
('Giovanni', 'Ricci', 'Italia')
('Aya', 'Tanaka', 'Giappone')
('Pedro', 'Fernandes', 'Brasile')
('Olivia', 'Taylor', 'Regno Unito')
('Wei', 'Zhang', 'Cina')
('Maria', 'Papadopoulou', 'Grecia')
('Noah', 'Smith', 'Australia')
('Emily', 'Brown', 'Stati Uniti')
('Carlos', 'Gomez', 'Spagna')
('Min', 'Park', 'Corea del Sud')
('Sofia', 'Bianchi', 'Italia')
('Daiki', 'Ito', 'Giappone')
('Luiza', 'Santos', 'Brasile')
('Thomas', 'Baker', 'Regno Unito')
('Yan', 'Chen', 'Cina')
('Nikolaos', 'Kostas', 'Grecia')
('Ethan', 'Williams', 'Australia')
('Ava', 'Miller', 'Stati Uniti')
('Pablo', 'Ruiz', 'Spagna')
('Seo-yeon', 'Lee', 'Corea del Sud')
('Marco', 'Ferrari', 'Italia')
('Sakura', 'Yamamoto', 'Giappone')
('Rafael', 'Mendes', 'Brasile')
('Charlotte', 'Evans', 'Regno Unito')
('Jian', 'Wang', 'Cina')
('Eleni', 'Georgiou', 'Grecia')
('Liam', 'Taylor', 'Australia')
('Grace', 'Davis', 'Stati Uniti')
('Alejandro', 'Gonzalez', 'Spagna')
('Hyeon', 'Choi', 'Corea del Sud')
('Isabella', 'Romano', 'Italia')
('Kenji', 'Takahashi', 'Giappone')
('Beatriz', 'Oliveira', 'Brasile')
('Daniel', 'Harris', 'Regno Unito')
('Lei', 'Zhang', 'Cina')
('Stavros', 'Papadakis', 'Grecia')
('Jack', 'Wilson', 'Australia')
('Lily', 'Johnson', 'Stati Uniti')
('Sergio', 'Lopez', 'Spagna')
('Ji-hoon', 'Kim', 'Corea del Sud')
('Lucia', 'Conti', 'Italia')
('Haruto', 'Sato', 'Giappone')
('Camila', 'Ribeiro', 'Brasile')
('Oliver', 'Green', 'Regno Unito')
('Wei', 'Liu', 'Cina')
('Dimitra', 'Antoniou', 'Grecia')
('Noah', 'Brown', 'Australia')
('Chloe', 'Wilson', 'Stati Uniti')
('Javier', 'Martinez', 'Spagna')
('Min-ji', 'Park', 'Corea del Sud')
('Giovanna', 'Marino', 'Italia')
('Kaito', 'Kobayashi', 'Giappone')
('Ana', 'Ferreira', 'Brasile')
('Harry', 'Taylor', 'Regno Unito')
('Yong', 'Zhao', 'Cina')
('Maria', 'Nikolaidou', 'Grecia')
('William', 'Smith', 'Australia')
('Sophia', 'Anderson', 'Stati Uniti')
('David', 'Garcia', 'Spagna')
('Yeon-joo', 'Lee', 'Corea del Sud')
('Elena', 'Ricci', 'Italia')
('Kazuki', 'Yamamoto', 'Giappone')
('Gabriela', 'Ferreira', 'Brasile')
('Benjamin', 'Harrison', 'Regno Unito')
('Tao', 'Wu', 'Cina')
('Andreas', 'Papandreou', 'Grecia')
('Lachlan', 'McDonald', 'Australia')
('Madison', 'Taylor', 'Stati Uniti')
('Santiago', 'Jimenez', 'Spagna')
('Ji-woo', 'Han', 'Corea del Sud')
('Leonardo', 'Moretti', 'Italia')
('Haruka', 'Sato', 'Giappone')
('Rodrigo', 'Costa', 'Brasile')
('Eleanor', 'Campbell', 'Regno Unito')
('Hao', 'Zheng', 'Cina')
('Sophia', 'Karagiannis', 'Grecia')
('Oscar', 'Wilson', 'Australia')
('Victoria', 'Adams', 'Stati Uniti')
('Mateo', 'Hernandez', 'Spagna')
('Seung', 'Bae', 'Corea del Sud')
('Ginevra', 'De Luca', 'Italia')
('Riku', 'Tanaka', 'Giappone')
('Isabela', 'Silveira', 'Brasile')
('Alexander', 'Murray', 'Regno Unito')
('Yiming', 'Sun', 'Cina')
('Christos', 'Theodorou', 'Grecia')
('Hudson', 'Clark', 'Australia')
('Scarlett', 'Mitchell', 'Stati Uniti')
('Adrián', 'Gutierrez', 'Spagna')
('Da-eun', 'Song', 'Corea del Sud')
('Beatrice', 'Rinaldi', 'Italia')
('Sota', 'Watanabe', 'Giappone')
('Larissa', 'Machado', 'Brasile')
('William', 'Douglas', 'Regno Unito')
('Jie', 'Yang', 'Cina')
('Eva', 'Petridou', 'Grecia')
('Cooper', 'Anderson', 'Australia')
('Zoe', 'Harrison', 'Stati Uniti')
('Marcos', 'Diaz', 'Spagna')
('Hana', 'Jung', 'Corea del Sud')
('Federica', 'Galli', 'Italia')
('Takeshi', 'Nakamura', 'Giappone')
('Patricia', 'Oliveira', 'Brasile')
('Jonathan', 'Wilson', 'Regno Unito')
('Qiang', 'Li', 'Cina')
('Georgios', 'Papadakis', 'Grecia')
('Mason', 'Brown', 'Australia')
('Hannah', 'Johnson', 'Stati Uniti')
('Alberto', 'Martinez', 'Spagna')
('Seung-ho', 'Kim', 'Corea del Sud')
('Paolo', 'Ricci', 'Italia')
('Mai', 'Tanaka', 'Giappone')
('Fernando', 'Silva', 'Brasile')
('Amelia', 'Taylor', 'Regno Unito')
('Xin', 'Zhang', 'Cina')
('Despina', 'Papadopoulou', 'Grecia')
('Logan', 'Smith', 'Australia')
('Evelyn', 'Brown', 'Stati Uniti')
('Jorge', 'Gomez', 'Spagna')
('Ji-min', 'Park', 'Corea del Sud')
('Sara', 'Bianchi', 'Italia')
('Ren', 'Kobayashi', 'Giappone')
('Beatriz', 'Ferreira', 'Brasile')
('Samuel', 'Taylor', 'Regno Unito')
('Wei', 'Zhao', 'Cina')
('Katerina', 'Nikolaidou', 'Grecia')
('Ethan', 'Smith', 'Australia')
('Avery', 'Anderson', 'Stati Uniti')
('Raul', 'Garcia', 'Spagna')
('Soo-jin', 'Lee', 'Corea del Sud')
('Claudia', 'Ricci', 'Italia')
('Kenta', 'Suzuki', 'Giappone')
('Carolina', 'Costa', 'Brasile')
('George', 'Wilson', 'Regno Unito')
('Peng', 'Li', 'Cina')
('Ioanna', 'Papadakis', 'Grecia')
('Archer', 'Brown', 'Australia')
('Audrey', 'Johnson', 'Stati Uniti')
('Ricardo', 'Martinez', 'Spagna')
('Ye-jun', 'Kim', 'Corea del Sud')
('Dario', 'Ricci', 'Italia')
('Nana', 'Tanaka', 'Giappone')
('Eduardo', 'Silva', 'Brasile')
('Isabelle', 'Taylor', 'Regno Unito')
('Jian', 'Zhang', 'Cina')
('Marina', 'Papadopoulou', 'Grecia')
('Flynn', 'Smith', 'Australia')
('Bella', 'Brown', 'Stati Uniti')
('Hector', 'Gomez', 'Spagna')
('Ha-eun', 'Park', 'Corea del Sud')
('Elisa', 'Bianchi', 'Italia')
('Usain', 'Bolt', 'Giamaica')
('Michael', 'Phelps', 'Stati Uniti')
('Simone', 'Biles', 'Stati Uniti')
('Katie', 'Ledecky', 'Stati Uniti')
('Novak', 'Djokovic', 'Serbia')
('Elaine', 'Thompson-Herah', 'Giamaica')
('Caeleb', 'Dressel', 'Stati Uniti')
('Yuzuru', 'Hanyu', 'Giappone')
('Laura', 'Muir', 'Regno Unito')
('Eliud', 'Kipchoge', 'Kenya')
('Shelly-Ann', 'Fraser-Pryce', 'Giamaica')
('Adam', 'Peaty', 'Regno Unito')
('Allyson', 'Felix', 'Stati Uniti')
('Rafael', 'Nadal', 'Spagna')
('Naomi', 'Osaka', 'Giappone')
('Wayde', 'van Niekerk', 'Sudafrica')
('Dafne', 'Schippers', 'Olanda')
('Mutaz', 'Barshim', 'Qatar')
('Karsten', 'Warholm', 'Norvegia')
('Justin', 'Gatlin', 'Stati Uniti')
('Yohan', 'Blake', 'Giamaica')
('Ryan', 'Lochte', 'Stati Uniti')
('Chad', 'le Clos', 'Sudafrica')
('Ashton', 'Eaton', 'Stati Uniti')
('Nia', 'Ali', 'Stati Uniti')
('Dina', 'Asher-Smith', 'Regno Unito')
('Andre', 'De Grasse', 'Canada')
('Kendra', 'Harrison', 'Stati Uniti')
('Piotr', 'Malachowski', 'Polonia')
('Sandra', 'Perković', 'Croazia')
('Thomas', 'Röhler', 'Germania')
('Christophe', 'Lemaitre', 'Francia')
('Greg', 'Rutherford', 'Regno Unito')
('Tori', 'Bowie', 'Stati Uniti')
('Aries', 'Merritt', 'Stati Uniti')
('David', 'Rudisha', 'Kenya')
('Renaud', 'Lavillenie', 'Francia')
('Anita', 'Włodarczyk', 'Polonia')
('Christian', 'Taylor', 'Stati Uniti')
('Will', 'Claye', 'Stati Uniti')
('Jeff', 'Henderson', 'Stati Uniti')
('Tianna', 'Bartoletta', 'Stati Uniti')
('Brittney', 'Reese', 'Stati Uniti')
('Ryan', 'Crouser', 'Stati Uniti')
('Joe', 'Kovacs', 'Stati Uniti')
('Gong', 'Lijiao', 'Cina')
('Valerie', 'Adams', 'Nuova Zelanda')
('Sandra', 'Perković', 'Croazia')

In [3]:
mycursor = mydb.cursor()

mycursor.execute("SELECT nazione, COUNT(*) AS numero_atleti FROM atleta GROUP BY nazione ORDER BY numero_atleti DESC;")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Stati Uniti', 38)
('Regno Unito', 22)
('Giappone', 20)
('Cina', 19)
('Spagna', 19)
('Australia', 18)
('Brasile', 18)
('Corea del Sud', 18)
('Grecia', 18)
('Italia', 18)
('Giamaica', 5)
('Francia', 3)
('Sudafrica', 3)
('Canada', 2)
('Croazia', 2)
('Germania', 2)
('Kenya', 2)
('Nuova Zelanda', 2)
('Polonia', 2)
('Argentina', 1)
('India', 1)
('Messico', 1)
('Norvegia', 1)
('Olanda', 1)
('Qatar', 1)
('Russia', 1)
('Serbia', 1)
('Ungheria', 1)

In [6]:
mycursor = mydb.cursor()

mycursor.execute("SELECT evento.id_evento, evento.codice, sport.nome_sport  FROM evento  JOIN sport ON evento.id_sport = sport.id_sport")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'TOK2020', 'Atletica Leggera')
(2, 'RIO2016', 'Atletica Leggera')
(21, 'TOK2020', 'Atletica Leggera')
(22, 'RIO2016', 'Atletica Leggera')
(51, 'SYD2000', 'Atletica Leggera')
(52, 'ATL1996', 'Atletica Leggera')
(61, 'RIO2016', 'Atletica Leggera')
(62, 'LON2012', 'Atletica Leggera')
(63, 'RIO2016', 'Atletica Leggera')
(70, 'BEI2008', 'Atletica Leggera')
(71, 'ATH2004', 'Atletica Leggera')
(3, 'LON2012', 'Nuoto')
(4, 'BEI2008', 'Nuoto')
(23, 'LON2012', 'Nuoto')
(24, 'BEI2008', 'Nuoto')
(53, 'BAR1992', 'Nuoto')
(54, 'SEO1988', 'Nuoto')
(64, 'RIO2016', 'Nuoto')
(65, 'LON2012', 'Nuoto')
(72, 'BEI2008', 'Nuoto')
(73, 'LON2012', 'Nuoto')
(5, 'ATH2004', 'Ginnastica')
(6, 'SYD2000', 'Ginnastica')
(25, 'ATH2004', 'Ginnastica')
(26, 'SYD2000', 'Ginnastica')
(55, 'LA1984', 'Ginnastica')
(56, 'TOK2020', 'Ginnastica')
(66, 'RIO2016', 'Ginnastica')
(67, 'TOK2020', 'Ginnastica')
(7, 'ATL1996', 'Calcio')
(8, 'BAR1992', 'Calcio')
(27, 'ATL1996', 'Calcio')
(28, 'BAR1992', 'Calcio')
(57, 'RIO2016', 'Calcio')
(58, 'LON2012', 'Calcio')
(74, 'RIO2016', 'Calcio')
(9, 'SEO1988', 'Pallavolo')
(10, 'LA1984', 'Pallavolo')
(29, 'SEO1988', 'Pallavolo')
(30, 'LA1984', 'Pallavolo')
(59, 'BEI2008', 'Pallavolo')
(60, 'ATH2004', 'Pallavolo')
(75, 'LON2012', 'Pallavolo')
(11, 'TOK2020', 'Ciclismo')
(12, 'RIO2016', 'Ciclismo')
(31, 'TOK2020', 'Ciclismo')
(32, 'RIO2016', 'Ciclismo')
(41, 'SYD2000', 'Ciclismo')
(42, 'ATL1996', 'Ciclismo')
(76, 'TOK2020', 'Ciclismo')
(13, 'LON2012', 'Tennis')
(14, 'BEI2008', 'Tennis')
(33, 'LON2012', 'Tennis')
(34, 'BEI2008', 'Tennis')
(43, 'BAR1992', 'Tennis')
(44, 'SEO1988', 'Tennis')
(68, 'RIO2016', 'Tennis')
(69, 'TOK2020', 'Tennis')
(15, 'ATH2004', 'Scherma')
(16, 'SYD2000', 'Scherma')
(35, 'ATH2004', 'Scherma')
(36, 'SYD2000', 'Scherma')
(45, 'LA1984', 'Scherma')
(46, 'TOK2020', 'Scherma')
(77, 'RIO2016', 'Scherma')
(17, 'ATL1996', 'Boxe')
(18, 'BAR1992', 'Boxe')
(37, 'ATL1996', 'Boxe')
(38, 'BAR1992', 'Boxe')
(47, 'RIO2016', 'Boxe')
(48, 'LON2012', 'Boxe')
(78, 'LON2012', 'Boxe')
(19, 'SEO1988', 'Judo')
(20, 'LA1984', 'Judo')
(39, 'SEO1988', 'Judo')
(40, 'LA1984', 'Judo')
(49, 'BEI2008', 'Judo')
(50, 'ATH2004', 'Judo')
(79, 'TOK2020', 'Judo')